data:
  data_dir: "data"
  parquet_file: "phase_recipes.parquet"

core:
  healthiness_metric: "nutri_group"
  score_map:
    A: Excellent
    B: Good
    C: Fair
    D: Poor
    E: Inadequate
  alternative_distance_weight: 0.8
  info_columns:
    - name
    - food_item_type
    - healthiness_score_groups
    - environmental_impact
    - nutritional_values
    - nutritional_value_groups
    - flat_ingredients
    - recipe_url

semantic_search:
  model_name: "all-MiniLM-L6-v2"
  embedding_dim: ~  # ~ indicates automatic detection
  max_distance_threshold: 1.0  # with FAISS complex to set a robust threshold
  # Use a threshold of 1.0 to allow all results, leaving FAISS retrieve items at any cosine distance
  use_hierarchical: true
  n_clusters: 50
  force_recompute: false
  batch_size: 40960
  cache_dir: "embeddings_cache"

recommender:
  model_name: "PEARLM"
  device: "cuda"  # or "cpu"
  hopwise_checkpoint_file: "checkpoint/hopwise-distilgpt2-PEARLM-Jul-16-2025_22-37-45.pth"
  recommender_data_path: "preprocessing/hummus_rec_data/no_members_attributes/hummus"
  diversity_factor: 0.5
  propagate_connected_entities: true  # If true, entities connected with restricted KG elements will also be restricted
  compile_mode: "default"  # Options: "default", "reduce-overhead", "max-autotune"
  remove_user_tokens_from_sequences: true  # If true, user tokens will be removed from sequences in zero-shot recommendation

api:
  host: "0.0.0.0"
  port: 8100
  title: "PhaseAPI - Food Recommendation System"
  description: "Food recommendation API service"

logging:
  level: "INFO"
  format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
